p {
  color: black;
  font-size: 12px;
}

.valorForm {
  display: flex;
}

.inputValor {
  width: 125px;
  height: 46px;
  background-color: #f8f9fa;
  border: none;
  border-radius: 8px;
  padding-left: 16px;
}

.descricao {
  font-size: 16px;
  font-weight: 400;
  width: 296px;
  height: 46px;
  background-color: #f8f9fa;
  border: none;
  border-radius: 8px;
  margin-bottom: 40px;
  padding-left: 16px;
}

.tipoValor {
  margin-left: 36px;
}

.select {
  width: 150px;
  height: 48px;
  background-color: #f8f9fa;
  border: none;
  border-radius: 8px;
  margin-left: 36px;
  padding-left: 16px;
}

.insereValor {
  width: 314px;
  height: 48px;
  background-color: #fd377e;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 8px;
  margin-top: 19px;
}

@media (max-width: 767px) {
  .valorForm {
    flex-direction: column;
  }

  .descricao,
  .inputValor,
  .select {
    width: 80%;
    margin-left: 0px;
    margin-bottom: 5px;
  }
  .pValor,
  .pDescricao,
  .tipoValor {
    font-size: 16px;
  }

  .form {
    width: 100%;
    padding: 0px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
}
