.Entrada {
  border-left: 2px solid #03b898;
}

.desc {
  font-size: 16px;
  font-weight: 700;
}

.valorEBotao {
  display: flex;
}

.valorCard {
  margin-top: 25px;
}

.excluir {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  margin-top: 18px;
  margin-left: 70px;
}

.imgExcluir {
  width: 15px;
  height: 15px;
}
.Despesa {
  border-left: 2px solid #e9ecef;
}

.Entrada,
.Despesa {
  display: flex;
  justify-content: space-between;
  height: 87px;
  width: 540px;
  margin-bottom: 32px;
  background-color: #f8f9fa;
  padding-left: 15px;
  padding-right: 15px;
}

.tipo {
  font-size: 12px;
  color: #868e96;
}

@media (max-width: 768px) {
  .Entrada,
  .Despesa {
    width: 90%;
  }
  .excluir {
    margin-left: 30px;
  }

  .valorCard {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .Entrada,
  .Despesa {
    width: 100%;
  }
}
